
<!DOCTYPE html>
@{
    ViewData["Title"] = "Main Window";
}
<html>
<body>
    <h2> Товарообіг </h2>
    <p>
        Виберіть бажану дію:
    </p>
    <ul>
        <li>
            @Html.ActionLink("Перейти к поиску товаров", "ProductFindWindow", "ProductFind")
        </li>
        <li>
            @Html.ActionLink("Перейти к созданию заявки", "CreateApplication", "Create")
        </li>
        <li>
            @Html.ActionLink("Перейти к поиску заявок", "ApplicationFindWindow", "ApplicationFind")
        </li>
    </ul>
</body>
</html>
