
<!DOCTYPE html>
@{
    ViewData["Title"] = "Main Window";
}
<html>
<body>
    <h2> Товарообіг </h2>
    <p>
        Виберіть бажану дію:
    </p>
    <ul>
        <li>
            @Html.ActionLink("Go to search product", "ProductFindWindow", "ProductFind")
        </li>
        <li>

        </li>
        <li>

        </li>
    </ul>
</body>
</html>
