@{
    @model ApplicationParameters;
}

<!DOCTYPE html>

<html>
<body>
    <h2>
        Создать новую заявку
    </h2>
    <form method="post">
        <label> Введите параметры заявки</label> <br />
        <label>Введите номер заявки</label>
        @Html.EditorFor(m => m.Number)<br />
        <label> Введите название заявки</label>
        @Html.EditorFor(m => m.Name)<br />
        <label> Введите дату заявки</label>
        @Html.EditorFor(m => m.Date)<br />
        <label> Введите количество продуктов этой заявки</label>
        @Html.EditorFor(m => m.ProductCount)<br />
        <label> Введите продукты для заявки</label>
        <input type="text" name="products" /><br />
        <input type="submit" value="Create" />
    </form>
</body>
</html>
